
<div class="ui-module-hero">
  <div class="row-fluid">
    <div class="col-12">
      <h1>Mural, a Pattern Library tool</h1>
      <hr class="rule rule--light"/>
      <p class="text--lead">An app for creating and managing your front-end pattern library, forked from <a href="http://demos.pebbleroad.com/tapestry/src/">Pebbleroads Tapestry</a>.</p>
      <p class="text--lead"><a href="https://github.com/stephenst/tapestry" class="btn-download">View on Github</a></p>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="col-12">
    <ul class="tapestry-features">
      <li>
        <h3>Easily create and manage patterns</h3>
        <p>Create your patterns in markdown and drop the files into the Mural directory to update the interface.</p>
      </li>
      <li>
        <h3>Browseable interface</h3>
        <p>Browse or search patterns by elements, components and templates. View examples, instructions and code samples.</p>
      </li>
    </ul>
  </div>
</div>