div.row-fluid
    div.main-content(class="col-md-12")
        ul.pattern-list
            li(ng-repeat="readme in currentReadMe.children")
                h3(id="{{ readme.name | anchor }}", once-text="readme.name")
                a(id="{{ readme.name | anchor }}")
                div(preview-and-markup patterns="readme")
                div.pattern-variation(ng-repeat="variation in readme.children")
                    h4(id="{{ variation.name | anchor }}", once-text="variation.name")
                    div(preview-and-markup patterns="variation")
