@import "_mixins/_variables.scss";

.pattern-list {
    list-style: none;
    margin-left: 0;
    padding: 0; }
.pattern-list > li {
    margin-bottom: 24px;
    margin-bottom: 1.71429rem;
    background: #fff;
    border-radius: 5px; }
.pattern-list > li > h3 {
    padding: 0.5em 15px;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial;
    border-bottom: 1px #d9d9d9 solid; }
.pattern-list > li > div > h4 {
    padding: 0.5em 15px;
    margin: 0;
    font-weight: 600;
    background: #fff;
    font-family: 'Open Sans', Helvetica, Arial;
    border-bottom: 1px #d9d9d9 solid; }
.pattern-list .block--description {
    background: #f9fbfc;
    border-radius: 0 0 5px 5px;
    border-top: 1px #d9d9d9 solid; }

.pattern-variation {
    margin-bottom: 15px; }
