@charset "UTF-8";

@import "bourbon/bourbon";



$sidenav-width: 275px;






#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: $sidenav-width;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidenav-width;
    width: 0;
    height: 100%;
    margin-left: -$sidenav-width;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: $sidenav-width;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$sidenav-width;
}

/* Top Header */
.navbar-header {
    button.navbar-nav {
        display: inline-block;
    }
    h3 {
        height: auto;
        line-height: 35px;
        margin: 0;
        padding: 0 20px;
    }
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;

    h3 {
        padding-left: 10px;
    }

    li {
        line-height: 40px;
        a {
            display: block;
            text-decoration: none;
            color: #999999;

            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255,255,255,0.2);
            }
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }

    .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;

        a {
            color: #999999;

            &:hover {
                color: #fff;
                background: none;
            }
        }
    }
}




@media(min-width:768px) {
    #wrapper {
        padding-left: $sidenav-width;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: $sidenav-width;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
