@import '_mixins/_variables';


.row--demo {
    margin-bottom: 5px;
}

.row--grid {
    div[class^="col"] {
        background-color: $color-light-grey;
        border: 1px solid $color-dark-grey;
        border-collapse: collapse;
        color: $color-dark-grey;
        padding: 10px;
    }
}
