@import '_mixins/_variables';

#wrapper {
    margin-top: 50px;
    padding-left: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled {
        padding-left: $sidenav-width;

        #sidebar-wrapper {
            width: $sidenav-width;
        }
        .page-content-wrapper {
            position: absolute;
            margin-right: -$sidenav-width;
        }
    }

}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #000;
    height: calc(100vh - 50px);
    left: $sidenav-width;
    margin-left: -$sidenav-width;
    overflow-y: scroll;
    position: fixed;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;


    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


    -webkit-box-shadow: inset 0px 0px 27px -12px rgba(10,10,10,1);
    -moz-box-shadow: inset 0px 0px 27px -12px rgba(10,10,10,1);
    box-shadow: inset 0px 0px 27px -12px rgba(10,10,10,1);
}

.page-content-wrapper {
    width: 100%;
    padding: 20px;
}

/* Top Header */
.navbar-header {
    button.navbar-nav {
        display: inline-block;
    }

    h3 {
        height: auto;
        line-height: 35px;
        margin: 0;
        padding: 0 20px;
    }
}

/* Sidebar Styles */
.sidebar-nav {
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;

    h3 {
        padding-left: 10px;
    }

    li {
        line-height: 40px;

        a {
            color: #999;
            cursor: pointer;
            display: block;
            text-decoration: none;

            &:hover {
                background: rgba(255, 255, 255, 0.2);
                color: #000;
                text-decoration: none;


                background: #e6e6e6; /* Old browsers */
                background: -moz-linear-gradient(top, #e6e6e6 0%, #cecece 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #e6e6e6 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #e6e6e6 0%,#cecece 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, #e6e6e6 0%,#cecece 100%); /* IE10+ */
                background: linear-gradient(to bottom, #e6e6e6 0%,#cecece 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */

            }

            &:active,
            &:focus {
                text-decoration: none;
            }
        }

    }

    .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;

        a {
            color: #999999;

            &:hover {
                color: #fff;
                background: none;
            }
        }
    }
}
