@import "_mixins/_variables";

@media(min-width: 768px) {
    #wrapper {
        padding-left: $sidenav-width;
    }

    #wrapper.toggled {
        padding-left: 0;

        #sidebar-wrapper {
            width: 0;
        }

        #page-content-wrapper {
            margin-right: 0;
            position: relative;
        }
    }

    #sidebar-wrapper {
        width: $sidenav-width;
    }

    #page-content-wrapper {
        padding: 20px;
    }
}
