// Hero Module
div.ui-module-hero-tapestry
    div.row-fluid
        div.col-12
            h1 Tapestry Pattern Library App
            hr.rule.rule--light
            p.text--lead
                | An app for creating and managing your front-end pattern library, forked
                a(href="http://demos.pebbleroad.com/tapestry/src/") Pebbleroads
                | Tapestry.

            a.btn-download(href="https://github.com/stephenst/tapestry") View on Github
// / Hero Module

div.row-fluid
    div.col-12
        ul.tapestry-features
            li
                h3 Easily create and manage patterns
                p Create your patterns in markdown and drop the files into the Tapestry directory to update the interface.
            li
                h3 Browseable interface
                p Browse or search patterns by elements, components and templates. View examples, instructions and code samples.
            li
                h3 Free and open source
                p Make Tapestry your own. Download it on Github, install it on your machine and start adding patterns.

