
<div class="tapestry-wrapper">
  <div class="row-fluid">
    <div class="col-md-2">
      <ul ng-show="patterns.children.length &gt; 1" class="nav">
        <li ng-repeat="pattern in patterns.children" class="nav"><a data-target="#{{pattern.name | anchor }}" ng-href="#!/{{ rootSection }}/{{ sectionSlug }}/{{ pattern.name | anchor }}" once-text="pattern.name" ng-class="{active: anchor(pattern.name) == subSection}"></a></li>
      </ul>
    </div>
    <div class="main-content col-md-10">
      <div preview-and-markup="preview-and-markup" patterns="patterns"></div>
      <ul class="pattern-list">
        <li ng-repeat="pattern in patterns.children">
          <h3 id="{{ pattern.name | anchor }}" once-text="pattern.name"></h3><a id="{{ pattern.name | anchor }}"></a>
          <div preview-and-markup="preview-and-markup" patterns="pattern"></div>
          <div ng-repeat="variation in pattern.children" class="pattern-variation">
            <h4 id="{{ variation.name | anchor }}" once-text="variation.name"></h4>
            <div preview-and-markup="preview-and-markup" patterns="variation"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>