<!DOCTYPE html>
<html lang="en" ng-app="mural" class="no-js mural menu__opened">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title ng-bind="&apos;Mural - &apos; + section">Mural</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="_assets/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="_assets/bower_components/prism/themes/prism.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
    <!-- Your CSS File-->
    <link rel="stylesheet" href="_assets/css/main.css">
    <!-- / Your CSS File-->
  <script id="jsonPath">var jsonPath = [{name: "elements", path: "components/mural_data/1.elements.json"},{name: "components", path: "components/mural_data/2.components.json"},{name: "templates", path: "components/mural_data/3.templates.json"}]</script></head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">NetIQ Developer Guides</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/mural/api/index.html">API</a></li>
          <li><a href="/mural/styles/index.html">Styles</a></li>
          <li class="active"><a href="/mural/patterns/index.html">Patterns</a></li>
        </ul>
      </div>
    </div>
    <div id="wrapper">
      <nav id="sidebar-wrapper">
        <ul class="nav sidebar-nav">
          <li class="nav sidebar-brand">
            <h3>Introduction</h3>
          </li>
          <li ng-class="{active: section==&apos;Overview&apos;}" class="nav"><a href="#!/">Overview</a>
            <div ng-repeat="style in styles">
              <ul class="nav">
                <li class="nav">
                  <h3 once-text="style.name"></h3>
                </li>
                <li ng-repeat="element in style.data" ng-class="{&apos;active&apos;: element.slug == sectionSlug}" once-show="element.children.length" class="nav"><a once-href="&apos;#!/&apos;+style.slug+&apos;/&apos;+element.slug" once-text="element.name"></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- Content-->
      <div class="page-content-wrapper">
        <!-- / Menu-->
        <header ng-controller="headerController" class="navbar navbar-top">
          <div class="navbar-header">
            <button ng-click="toggleMenu($event)" class="navbar-nav btn btn-unstyled btn-toggle"><em class="fa fa-bars"></em></button>
            <h3 ng-bind="section" class="navbar-brand"></h3>
          </div>
          <div class="navbar-form navbar-right">
            <div class="input-group">
              <input type="text" ng-model="selected" typeahead="pattern.url as pattern.value for pattern in globalPatterns | filter:$viewValue | limitTo:8" name="section" class="form-control">
              <div action="" class="input-group-btn">
                <button class="btn btn-default"><em class="fa fa-search fa-lg"></em></button>
              </div>
            </div>
          </div>
        </header>
        <div ng-view="" class="pattern-wrapper"></div>
        <footer>
          <p>Code licensed under MIT, documentation under CC BY 3.0. <br>Version <span mural-version=""></span>. Last Updated on <span last-updated=""></span>. View the <a href="#!/changelog">Changelog</a></p>
        </footer>
      </div>
    </div>
    <!-- jQuery-->
    <!-- script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js")-->
    <script src="_assets/bower_components/jquery/jquery.js"></script>
    <!-- jQuery-->
    <!-- Parsers-->
    <script src="_assets/bower_components/js-yaml/js-yaml.js"></script>
    <script src="_assets/bower_components/marked/lib/marked.js"></script>
    <!-- PrismJS code highlighter-->
    <script src="_assets/bower_components/prism/prism.js"></script>
    <!-- Patterns-->
    <script src="_assets/bower_components/angular/angular.min.js"></script>
    <script src="_assets/bower_components/angular-route/angular-route.min.js"></script>
    <script src="_assets/bower_components/angular-once/once.js"></script>
    <script src="components/mural_app/controllers.js"></script>
    <script src="components/mural_app/directives.js"></script>
    <script src="components/mural_app/filters.js"></script>
    <script src="components/mural_app/services.js"></script>
    <script src="components/mural_app/app.js"></script>
    <!-- / Patterns-->
    <!-- Autocomplete-->
    <script src="_assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- Sticky scrollspy-->
    <script src="_assets/bower_components/ngSticky/dist/sticky.min.js"></script>
  </body>
</html>