/*------------------------------------*\
	MIXINS
\*------------------------------------*/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * Font size mixin
 */
/**
 * Media Query Mixin
 */
/**
 * Box Shadow Base
 */
/**
 * Light Links
 */
/**
 * Link Colors: Part of Compass
 */
/**
 * Focus Styles
 */
/**
 * Rem Units
 * Converts properties to both REM and Pixel Values. Based on line-height
 * @include rem(margin-bottom, 0.5)
 * @include rem(padding, 1, 20px);
 */
/**
 * Helper function for REM
 * @include rem-full(padding, 10px 20px 10px 30px);
 */
/**
 * Grids
 */
/**
 * Calculates Percentage for each column
 */
/**
 * Convert numbers to words
 * 1 => 'one'
 */
/* ------------------------------------
    Layout Items
------------------------------------ */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS FROM INUIT CSS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $UI ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $TEXT DIRECTION
\*------------------------------------*/
/*------------------------------------*\
    $COLOR SWATCHES
\*------------------------------------*/
/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
     * Mobile Sizes
     */
/**
     * Desktop font size
     * Both tablets and desktops
     */
/**
 * Optional font sizes
 */
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
     * Button default
     */
/**
     * Button Primary
     */
/**
     * Button Secondary
     */
/**
     * Button Light
     */
/**
     * Button Dark
     */
/**
     * Button Warning
     */
/**
     * Button facebook
     */
/**
     * Button google
     */
/* ------------------------------------
    Layout Items
------------------------------------ */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS FROM INUIT CSS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $UI ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $TEXT DIRECTION
\*------------------------------------*/
/*------------------------------------*\
    $COLOR SWATCHES
\*------------------------------------*/
/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
     * Mobile Sizes
     */
/**
     * Desktop font size
     * Both tablets and desktops
     */
/**
 * Optional font sizes
 */
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
     * Button default
     */
/**
     * Button Primary
     */
/**
     * Button Secondary
     */
/**
     * Button Light
     */
/**
     * Button Dark
     */
/**
     * Button Warning
     */
/**
     * Button facebook
     */
/**
     * Button google
     */
.row--demo div[class^="col"] {
  background-color: #EDEEF1;
  border: 1px solid #BDC3C7;
  color: #BDC3C7;
  padding: 10px;
  border-collapse: collapse; }

/* ------------------------------------
    Layout Items
------------------------------------ */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS FROM INUIT CSS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $UI ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $TEXT DIRECTION
\*------------------------------------*/
/*------------------------------------*\
    $COLOR SWATCHES
\*------------------------------------*/
/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
     * Mobile Sizes
     */
/**
     * Desktop font size
     * Both tablets and desktops
     */
/**
 * Optional font sizes
 */
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
     * Button default
     */
/**
     * Button Primary
     */
/**
     * Button Secondary
     */
/**
     * Button Light
     */
/**
     * Button Dark
     */
/**
     * Button Warning
     */
/**
     * Button facebook
     */
/**
     * Button google
     */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #wrapper.toggled {
    padding-left: 275px; }
    #wrapper.toggled #sidebar-wrapper {
      width: 275px; }
    #wrapper.toggled .page-content-wrapper {
      position: absolute;
      margin-right: -275px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 275px;
  width: 0;
  height: 100%;
  margin-left: -275px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.page-content-wrapper {
  width: 100%;
  padding: 20px; }

/* Top Header */
.navbar-header button.navbar-nav {
  display: inline-block; }
.navbar-header h3 {
  height: auto;
  line-height: 35px;
  margin: 0;
  padding: 0 20px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: visible; }
  .sidebar-nav h3 {
    padding-left: 10px; }
  .sidebar-nav li {
    line-height: 40px; }
    .sidebar-nav li a {
      display: block;
      text-decoration: none;
      color: #999999; }
      .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2); }
      .sidebar-nav li a:active, .sidebar-nav li a:focus {
        text-decoration: none; }
  .sidebar-nav .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px; }
    .sidebar-nav .sidebar-brand a {
      color: #999999; }
      .sidebar-nav .sidebar-brand a:hover {
        color: #fff;
        background: none; }

/* ------------------------------------
    Layout Items
------------------------------------ */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS FROM INUIT CSS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $UI ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $TEXT DIRECTION
\*------------------------------------*/
/*------------------------------------*\
    $COLOR SWATCHES
\*------------------------------------*/
/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
     * Mobile Sizes
     */
/**
     * Desktop font size
     * Both tablets and desktops
     */
/**
 * Optional font sizes
 */
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
     * Button default
     */
/**
     * Button Primary
     */
/**
     * Button Secondary
     */
/**
     * Button Light
     */
/**
     * Button Dark
     */
/**
     * Button Warning
     */
/**
     * Button facebook
     */
/**
     * Button google
     */
/**
 * Palette
 */
.palette {
  list-style: none;
  margin-left: 0;
  font-size: 0; }

.palette > li {
  margin-right: 1%;
  font-size: 13px;
  font-size: 0.92857rem;
  color: #fff;
  text-align: center; }

@media only screen and (min-width: 600px) {
  .palette > li {
    display: inline-block;
    width: 19%; } }

.palette span {
  display: block; }

.palette .color {
  border-radius: 5px 5px 0 0;
  height: 80px;
  padding-top: 1.5em; }

@media only screen and (min-width: 600px) {
  .palette .color {
    height: 120px; } }

.palette .color:last-child {
  border-radius: 0 0 5px 5px; }

.palette h3 {
  color: #333;
  font-size: 14px;
  font-weight: 600; }

/* ------------------------------------
    Layout Items
------------------------------------ */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS FROM INUIT CSS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $UI ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $TEXT DIRECTION
\*------------------------------------*/
/*------------------------------------*\
    $COLOR SWATCHES
\*------------------------------------*/
/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
     * Mobile Sizes
     */
/**
     * Desktop font size
     * Both tablets and desktops
     */
/**
 * Optional font sizes
 */
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
     * Button default
     */
/**
     * Button Primary
     */
/**
     * Button Secondary
     */
/**
     * Button Light
     */
/**
     * Button Dark
     */
/**
     * Button Warning
     */
/**
     * Button facebook
     */
/**
     * Button google
     */
.pattern-list {
  list-style: none;
  margin-left: 0;
  padding: 0; }
  .pattern-list li {
    margin-bottom: 24px;
    margin-bottom: 1.71429rem;
    background: #fff;
    border-radius: 5px; }
    .pattern-list li h3 {
      padding: 0.5em 0;
      margin: 0;
      font-family: 'Open Sans', Helvetica, Arial;
      border-bottom: 1px #d9d9d9 solid; }
    .pattern-list li h4 {
      padding: 0.5em 0;
      margin: 0;
      font-weight: 600;
      background: #fff;
      font-family: 'Open Sans', Helvetica, Arial; }
  .pattern-list .block--description {
    background: #f9fbfc;
    border-radius: 0 0 5px 5px;
    border-top: 1px #d9d9d9 solid; }

.pattern-variation {
  margin-bottom: 15px; }

/* ------------------------------------
    Layout Items
------------------------------------ */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS FROM INUIT CSS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $UI ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $TEXT DIRECTION
\*------------------------------------*/
/*------------------------------------*\
    $COLOR SWATCHES
\*------------------------------------*/
/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
     * Mobile Sizes
     */
/**
     * Desktop font size
     * Both tablets and desktops
     */
/**
 * Optional font sizes
 */
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
     * Button default
     */
/**
     * Button Primary
     */
/**
     * Button Secondary
     */
/**
     * Button Light
     */
/**
     * Button Dark
     */
/**
     * Button Warning
     */
/**
     * Button facebook
     */
/**
     * Button google
     */
@media (min-width: 768px) {
  #wrapper {
    padding-left: 275px; }
  #wrapper.toggled {
    padding-left: 0; }
  #sidebar-wrapper {
    width: 275px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  #page-content-wrapper {
    padding: 20px; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }
